@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  width: 364px;
  height: 124px;
  left: 33px;
  top: 31px;
  margin: 0 auto;

  font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 120%;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #D8572A;
  -webkit-text-stroke: 2px black;
}

.container{
  background-color: #F0F0C9;
  width: 428px; 
  height: 926px; 
  border: 1px solid black; 
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#joke{
  font-family: 'Concert One';
  width: 364px;
  height: 113px;
  left: 33px;
  top: 284px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E1E1E1;
}

.bottone{
  font-family: 'Concert One';
  width: 364px;
  height: 48px;
  left: 33px;
  top: 759px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #780116
}

.copia{
  font-family: 'Concert One';
  width: 185px;
  height: 33px;
  left: 123px;
  top: 825px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D8572A;
}
